<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.randomappsinc.sturf">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:name=".Utils.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name=".Activities.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="@string/my_profile"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.ItemFormActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/item_form"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.SearchActivity"
            android:label="@string/search"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.MySturfActivity"
            android:label="@string/my_sturf"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
    </application>
</manifest>
